.option {
  padding: 6px 12px;
  color: #343840;
  font-size: 14px;
  font-weight: 400;
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  cursor: pointer;

  &.disabledOption {
    &,
    &:hover {
      background: #f0f0f0;
      color: #b4b4b4;
    }
  }

  &.selected {
    background: #4787be;
    color: #fff;
  }

  &:hover {
    background: #89beec;
    color: #fff;
  }
}
