.button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  svg,
  span {
    transition: color 0.4s ease;
  }

  svg {
    width: 24px;
    height: 24px;
  }

  span {
    color: #1c1c1c;
    font-size: 18px;
    font-weight: 400;
    margin-top: 3px;
  }

  &:hover {
    svg {
      color: #4787be;
      animation: backAnimate 0.7s ease;
    }

    span {
      color: #4787be;
    }
  }

  @keyframes backAnimate {
    50% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

@media (min-width: 768px) {
  .button {
    svg {
      width: 24px;
      height: 24px;
    }

    span {
      font-size: 20px;
    }
  }
}
